body {
    background-color: rgb(20, 20, 20);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Space Grotesk', sans-serif; /*normal*/
    font-family: 'Space Mono', monospace;   /*headings*/
    color: white;
    margin: 0;
}

.container {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    position: relative;
}


/* Navabr */
.navbar {
    z-index: 10000;
    font-family: 'Space Mono', monospace;
    position: fixed;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(28, 28, 28, 0.4);
    backdrop-filter:blur(10px);
    margin: 0;
    padding: 0;
}

.button {
    z-index: 10001;
    width: 3vw;
    height: 3vw;
    border-radius: 200px;
    background-color: rgba(26, 26, 26, 0.2);
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0.6vw;
    left: 0.6vw;
    margin: 0;
    overflow: hidden;
}

.button > img {
    position: absolute;
    width: 75%;
    height: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.navbar-contents {
    margin: 3px;
    width: 50vw;
    height: 99vh;
    border-radius: 1.5vw;
    background-color: rgb(46, 46, 46);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;

}

.navbar-contents > .hacky {
    font-size: 5vw;
    margin: 1px 0px;
    left: 10%;
    text-align: left;
    transition: ease-in-out 0.5s;
    padding: 0;
    padding-left: calc(3vw + 20px);
    display: flex;
    align-items: center;
}

.navbar-contents > .hacky:hover {
    background-color: antiquewhite;
    color: black;
}



