.intro-img-container {
    width: 90vw;
    height: 50vh;
    border-radius: 30px;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    position: relative;
}

.intro-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.planets {
    width: 80%;
    margin: 0 auto;
}
  
.planets > .planet {
display: inline-block;
width: 400px;
height: 70vh;
text-align: left;
background-color: rgb(25, 25, 25);
border-radius: 20px;
overflow: hidden;
}

.img {
width: 100%;
height: 60vh;
overflow: hidden;
display: grid;
place-items: center;
}

.img-2 {
width: 100%;
height: 100%;
object-fit: cover;
filter: blur(0);
transition: ease 0.5s;
}

.planets > .planet > h1 {
padding: 0;
margin: 0 0.5vw;
font-family: 'Space Mono', monospace;   /*headings*/
}


.planets > .planet > p {
padding: 0;
margin: 0 0.5vw;
font-family: 'Space Grotesk', sans-serif; /*normal*/
}

.planet:hover .img-2{
filter: blur(2px);
width: 105%;
height: 105%;
}