.So-Sy{
    transform-origin: center;
    transform-style: preserve-3d;
    height: 100%;
    width:100%;
    z-index: 1;
}

.sun{
    background-color: white;
    height: 15%;
    aspect-ratio: 1/1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.orbit-1{
    border: 1px solid rgba(255, 255, 255, 0.586);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
}

.orbit-2{
    border: 1px solid rgba(255, 255, 255, 0.586);
    height: 40%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.orbit-3{
    border: 1px solid rgba(255, 255, 255, 0.586);
    height: 55%;
    aspect-ratio: 1/1;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.orbit-4{
    border: 1px solid rgba(255, 255, 255, 0.586);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
}

.asteroid-belt{
    height: 110%;
    aspect-ratio: 1 / 1;
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.asteroid-belt #belt-1{ /*why no double images?*/
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: contrast(0.85);
}

.asteroid-belt #belt-2{ /*why no double images?*/
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: contrast(0.8);
}

.orbit-5{
    border: 1px solid rgba(255, 255, 255, 0.586);
    height: 115%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.orbit-6{
    border: 1px solid rgba(255, 255, 255, 0.586);
    height: 145%;
    aspect-ratio: 1/1;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.orbit-7{
    border: 1px solid rgba(255, 255, 255, 0.586);
    height: 170%;
    aspect-ratio: 1/1;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.orbit-8{
    border: 1px solid rgba(255, 255, 255, 0.586);
    height: 195%;
    aspect-ratio: 1/1;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.orbit-1 .mercury{
    height: 9%;
    aspect-ratio: 1/1;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    border-radius: 50%;
}


.orbit-2 .venus{
    position: relative;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    background-color: rgba(166, 0, 0, 1);
    height: 9%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}


.orbit-3 .earth{
    background-color: blue;
    height: 12%;
    aspect-ratio: 1/1;
    position: relative;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: inset -100px 0px 47px -28px rgba(0,0,0,0.5),inset -100px 0px 51px 17px rgba(0,0,0,0.35),inset -100px 0px 51px 81px rgba(0,0,0,0.3),inset 100px 0px 49px 35px rgba(255,255,255,0.1);
}

.orbit-4 .mars{
    background-color: rgb(255, 0, 0);
    height: 5%;
    aspect-ratio: 1/1;
    position: relative;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.orbit-5 .jupiter{
    background-color: rgb(206, 156, 21);
    height: 10%;
    aspect-ratio: 1/1;
    position: relative;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.orbit-6 .saturn{
    height: 10%;
    aspect-ratio: 1/1;
    position: relative;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.orbit-6 .saturn img{
    height: 100%;
    width: 100%;
}

.orbit-6 .saturn .rin{
    background-image: radial-gradient(#655f45 3px, transparent 25%);
    z-index: 3;
    height: 100%;
    aspect-ratio: 1/1;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

